/*target{
  properties to change
}*/

body{
    background-color: #a6e3e9;

}
#avatar{

  width: 250px;
  border-radius: 50%;
}

*{
  font-family: "Montserrat", sans-serif;

}

#landing{
height: 85vh;
margin-top: 70px;

/*center the content using flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
/*bootstrap overrdes */

.jumbotron{
  background-color: #9ddfd3;

}

#gallery{
  height: 87vh;
  /*center the content using flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
  padding: 0;
}

h2{
  color: #007bff;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  border-radius: 15px;
}